[Unit]
Description=Min Studentapp
After=network.target

[Service]
WorkingDirectory=/var/www/myapp/backend
ExecStart=/usr/bin/dotnet /var/www/myapp/backend/Backend.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=myapp
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=APP_PORT=5000
Environment=FRONTEND_PATH=/var/www/myapp/dist
Environment=DB_PATH=/var/www/myapp/backend/_db.sqlite3

[Install]
WantedBy=multi-user.target
